.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 20rem;
  align-items: center;
  justify-content: center;
}

.App__Header {
  margin-bottom: 0;
}

.PairList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  justify-items: center;
}

.Pair {
  display: flex;
  margin: 4rem;
}

.Crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.Crew__Image {
  width: 4.5vw;
  border-radius: 50%;
}

.Crew__Name {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
